<!DOCTYPE html>
<html>
<head>
	<title>Preguntas</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" 
		media="only screen and (min-width: 530px) and (min-device-width: 481px)"
		href="/stylesheets/wide.css" />
	<link rel="stylesheet" type="text/css" 
		media="only screen and (max-width: 480px)"
		href="/stylesheets/smartphones.css" />
</head>
<body>
	<div id="page-wrap">
		<header id="h1" class="main">
			<h2>Quiz<span>: el juego de las preguntas</span></h2>
		</header>
		
		<nav id="n1" class="main" role="navegation">
			<span><a href="/">Inicio</a></span>
			<span><a href="/quizes">Preguntas</a></span>
			<span><a href="/author">Cr&eacute;ditos</a></span>
		</nav>
		
		<section id="s1" class="main">
			<%- body %>
		</section>
		
		<footer id="f1" class="main">
			<a href="https://github.com/pableke/quiz">Proyecto en GitHub</a>
			<a href="http://es.wikipedia.org/wiki/quiz">¿Que es un quiz?</a>
		</footer>
	</div>
</body>
</html>
