<!DOCTYPE html>
<html>
<head>
	<title>Preguntas</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div id="page-wrap">
		<header id="h1" class="main">
			<h2>Quiz: el juego de las preguntas</h2>
		</header>
		
		<nav id="n1" class="main" role="navegation">
			<span><a href="/">Inicio</a></span>
			<span><a href="/quizes/question">Preguntas</a></span>
		</nav>
		
		<section id="s1" class="main">
			<%- body %>
		</section>
		
		<footer id="f1" class="main">
			<a href="http://es.wikipedia.org/wiki/quiz">¿Que es un quiz?</a>
		</footer>
	</div>
</body>
</html>
