
<table>
	<tr><td colspan="2">
		<form method="get" action="/quizes">
			<p>Patrón de búsqueda</p>
			<input type="text" id="search" name="search" />
			<input type="submit" value="Enviar" />
		</form>
		<br /><hr />
	</td></tr>
	<% for (var i = 0; i < quizes.length; i++) { %>
		<tr>
			<td><a href="/quizes/<%=quizes[i].id%>"><%=quizes[i].pregunta%></a></td>
			<td><a href="/quizes/<%=quizes[i].id%>/edit"><button>Editar</button></a></td>
		</tr>
	<% } %>
	<tr><td colspan="2"><hr /><a href="/quizes/new"><button>Crear Pregunta</button></a></td></tr>
</table>

<script>
	document.getElementById("search").focus();
</script>
