
<h1>Quiz: el juego de las preguntas</h1>
<form method="get" action="/quizes/answer">
	<p>Pregunta: <%= pregunta %></p>
	<input type="text" id="respuesta" name="repuesta" placeholder="Responda aquí" />
	<input type="submit" value="Enviar" />
</form>

<script>
	document.getElementById("respuesta").focus();
</script>
