
<h1>Quiz: el juego de las preguntas</h1>
<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<p>Pregunta: <%= quiz.pregunta %></p>
	<p>El tema de la pregunta es: <%= quiz.tema %></p>
	<input type="text" id="resp" name="respuesta" placeholder="Responda aquí" /><br />
	<a href="/quizes"><button type="button">Cancelar</button></a> 
	<input type="submit" value="Enviar" />
</form>

<script>
	document.getElementById("resp").focus();
</script>
